
.chat-item {
    position: relative;
    transition: background-color .3s
}

.chat-item .chat-actions {
    align-items: center;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: .75rem;
    top: 0;
    width: 3rem;
    z-index: 2
}

.chat-item .chat-actions,.chat-item:hover {
    --grio-ligth:#f1f5f9;
    background-color: var(--grio-ligth)
}

.chat-item:hover .chat-actions {
    opacity: 1;
    pointer-events: auto;
    transition: opacity .5s
}

.chat-layout {
    height: 94vh;
    overflow-y: hidden
}
.chat-layout .chat-body {
    background:#f1f5f9;}
@media (max-width: 1199.98px) {
    .chat-layout .chat-body {
        background:#f1f5f9;
        bottom: 0;
        height: 100%;
        left: 0;
        position: fixed;
        top: 0;
        transform: translateX(100%);
        transition: transform .3s ease,visibility .3s ease;
        visibility: hidden;
        width: 100%;
        z-index: 1020
    }

    .chat-layout .chat-body.chat-body-visible {
        transform: translateX(0);
        visibility: visible
    }
}

.chat-footer {
    bottom: 0;
    position: sticky;
    width: 100%;
    background:#f1f5f9;
}

@media (min-width: 1200px) {
    .chat-footer {
        bottom:60px
    }
}

.avatar {
    display: inline-block;
    height: 4rem;
    position: relative;
    width: 4rem
}

.avatar-xs {
    height: 1.5rem;
    width: 1.5rem
}

.avatar-sm {
    height: 2rem;
    width: 2rem
}

.avatar-md {
    height: 2.5rem;
    width: 2.5rem
}

.avatar-lg {
    height: 3.5rem;
    width: 3.5rem
}

.avatar-xl {
    height: 5rem;
    width: 5rem
}

.avatar-xxl {
    height: 7.5rem;
    width: 7.5rem
}

.avatar img {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%
}

.avatar-offline:before {
    background-color: var(--griot-gray-400)
}

.avatar-online:before {
    background-color: var(--griot-success)
}

.avatar-away:before {
    background-color: var(--griot-warning)
}

.avatar-busy:before {
    background-color: var(--griot-danger)
}

.avatar-info:before {
    background-color: var(--griot-info)
}

.avatar-indicators:before {
    border: 0.02px solid var(--griot-white);
    border-radius: 50%;
    bottom: 0;
    content: "";
    display: table;
    height: 30%;
    position: absolute;
    right: 5%;
    width: 30%
}

.avatar-initials {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    pointer-events: none;
    text-transform: uppercase;
    width: 100%
}

.avatar-primary .avatar-initials {
    background-color: var(--griot-primary);
    color: var(--griot-white)
}

.avatar-secondary .avatar-initials {
    background-color: var(--griot-secondary);
    color: var(--griot-white)
}

.avatar-success .avatar-initials {
    background-color: var(--griot-success);
    color: var(--griot-white)
}

.avatar-warning .avatar-initials {
    background-color: var(--griot-warning);
    color: var(--griot-white)
}

.avatar-info .avatar-initials {
    background-color: var(--griot-info);
    color: var(--griot-white)
}

.avatar-danger .avatar-initials {
    background-color: var(--griot-danger);
    color: var(--griot-white)
}

.avatar-light .avatar-initials {
    background-color: var(--griot-light);
    color: var(--griot-white)
}

.avatar-dark .avatar-initials {
    background-color: var(--griot-dark);
    color: var(--griot-white)
}

.avatar-primary-soft .avatar-initials {
    background-color: #ede9fe;
    color: var(--griot-primary)
}

.avatar-secondary-soft .avatar-initials {
    background-color: var(--griot-secondary);
    color: var(--griot-white)
}

.avatar-success-soft .avatar-initials {
    background-color: var(--griot-light-success);
    color: var(--griot-success)
}

.avatar-warning-soft .avatar-initials {
    background-color: var(--griot-light-warning);
    color: var(--griot-warning)
}

.avatar-info-soft .avatar-initials {
    background-color: var(--griot-light-info);
    color: var(--griot-info)
}

.avatar-danger-soft .avatar-initials {
    background-color: var(--griot-light-danger);
    color: var(--griot-danger)
}

.avatar-dark-soft .avatar-initials {
    background-color: var(--griot-light-dark);
    color: var(--griot-white)
}

.avatar-light-soft .avatar-initials {
    background-color: var(--griot-light);
    color: var(--griot-dark)
}

.avatar-group .avatar+.avatar {
    margin-left: -1.2rem
}

.avatar-group .avatar:hover {
    z-index: 2
}

.avatar-group .avatar .avatar-initials,.avatar-group img {
    border: 3px solid var(--griot-white)
}
.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.form-control-simple:focus {
    box-shadow: none
}

.no-resize {
    resize: none
}

.form-focus-none.form-control:focus {
    box-shadow: none;
    outline: none
}

input::-webkit-inner-spin-button,input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0
}